.container {
    display: flex;
    flex-direction: column;
    justify-items: center;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
}

.block {
    display: flex;
    justify-content: center;
}